@font-face {
	font-family: "Lacquer";
	src:url('Lacquer-Regular.ttf');
}

@font-face {
	font-family: "Exo2";
	src:url('Exo2-Regular.ttf');
}

@font-face {
	font-family: "Exo2-Bold";
	src:url('Exo2-Bold.ttf');
}

@font-face {
	font-family: "Exo2-Italic";
	src:url('Exo2-Italic.ttf');
}

@font-face {
	font-family: "Exo2-Medium";
	src:url('Exo2-Medium.ttf');
}

@font-face {
	font-family: "Exo2-Thin";
	src:url('Exo2-Thin.ttf');
}